/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.dark-header {
    background-color: #111;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #55acee; /* Change color on hover */
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #222;
    padding: 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-image: url("hero-background1.jpg");    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #ff8000;
}
.links-section {
    margin-top: 20px;
}

.links-container {
    display: flex;
    gap: 20px;
    justify-content: center; /* Center the links horizontally */
}

.link {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #0300b3;
}
